/* Shopping section */

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 350px;
    background-color: #e2e7e6;

}

.shoe-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    background-color: white;
}

.shoe-image{
    width: 350px;
    height: 358px;
    justify-content: center;
    padding-left: 0px;
}

.pricing{

    justify-content: space-evenly;
   margin-top: -18px;
   text-align: left;
   padding-left: 5px;
   background-color: white;
   /* padding-top: 0px;
   padding-bottom: 10px; */
}

.positioning{
    position: absolute; top: 100px;
    left: 100px;
    background-color: white;
}

.price{
    font-size:15px;font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;padding-top: -15px;
    
}

.whatshot{
    border-top: 4px solid black;
    width: 500px;margin-top: 50px;
    margin-left: 30px;
    background-color: #e2e7e6;

}

.whatshott{
    margin-top: 40px;font-size: 25px;
    margin-left: 25px;
}

.downimg{
    /* border:2px solid black ; */
    width: 350px;height: 450px;
    background-color: white;

}

.downimgsection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    background-color: white;
}

.image{
    width: 100%;
    height: 400px;
}

.chekoutcollections{
        font-size: 12px;
        padding-top: 10px;
       font-weight: lighter;

}

.adistory{
    font-size: 17px;
}

.Shop{
    margin-top: 35px;
}

.bottomdiscription{
    /* background-color: #F5F5E5; */
    width:100%;
    height: 350px;
    margin-top: 100px;
    /* border: 2px solid black; */
    display: flex;
    padding-left: 50px;
    justify-content: center;
    text-align: center;
}

.bottomtext1{
    /* border: 2px solid black; */
    width: 700px;height:350px ;
    font-size: 12px;padding-top: 50px;
    margin-left: 25px;
}

.bottomtext2{
    /* border: 2px solid black; */
    width: 700px;height: 70px;
    font-size: 10px;letter-spacing: 15px;word-spacing: 20px;
    margin-top: 0px;
    
}

.textstyle{
    word-spacing:0.5rem;font-size: 15px;font-weight: lighter;text-align:left;
    font-family: Arial, Helvetica, sans-serif;margin-top: 25px;
}

.yellowstrip{
    /* border: 2px solid black; */
    width: 100%;height: 177px;
    background-color: #ede734;
    display: flex;

}

.signupforfree{
    border: 2px solid black;
    width: 220px;
    height: 30px;
    background-color: black;
    color: #e2e7e6;
    margin-top: 40px;
    margin-left: 15px;
    padding-top: 12px;
    justify-content: center;
    font-size: 15px;
    padding-left: 15px;
}

.products{
    
    font-weight: lighter;
    font-size: 15px
}

.singnupborder{
    border: 2px solid black;
    width: 235px;
    height: 45px;
    margin-top: 40px;
    margin-left: -235px;
}

.blackstrip{
    border: 2px solid black;
    width: 100%;height: 100px;
    background-color: #282c31;
    margin-top: 25px;
    color: #e2e7e6;
    display: flex;
    font-weight: lighter;
    font-size: 15px;
    padding-top: 25px;
    padding-left: 550px;
}

.vertical-line {
    border-left: 2px solid white; /* Adjust the color and width as needed */
    height: 20px; /* Adjust the height as needed */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-left: 10px;
    margin-right:10px ;

  }